* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
body {
  width: 100vw;
  height: 100%;
  background: #009fff;
  background: -webkit-linear-gradient(to right, #ec2f4b, #009fff);
  background: linear-gradient(to right, #ec2f4b, #009fff);
}
.container {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 200px;
  width: 650px !important;
  border-radius: 20px;
  padding: 60px 50px 100px !important;
}
.container h2 {
  font-size: 30px !important;
  width: 100% !important;
  text-align: center;
  margin-bottom: 30px;
}
.user-icon {
  width: 100% !important;
  display: block;
  text-align: center;
}
.fa-icon {
  text-align: center;
  margin: -120px auto 30px auto !important;
  border-radius: 50%;
  height: 120px !important;
  width: 120px;
  background-color: black;
}
.fa-icon i {
  font-size: 80px;
  margin-top: 15px;
  color: azure;
}
.btn {
  width: 100% !important;
  background-color: rgba(0, 153, 51, 0.5) !important;
  color: white !important;
}
.form-check a {
  margin-left: 250px;
  text-decoration: none;
  font-weight: 40px !important;
  color: blue;
}
.signup {
  font-size: 20px;
  font-weight: 30px !important;
}
.signup a {
  text-decoration: none;
  font-weight: 40px !important;
  color: blue;
}
.welcome {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh;
}
.welcome h1 {
  color: white !important;
  font-size: 70px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
